.header{
  position: relative;
}




.welcome_message { 
    top: 20px;
  position: absolute;
  font-size: 50px; 
  padding: 10px;
  color: white;
  margin-bottom: 0px;
 
}

.welcome_message h1{  
  z-index: 100;
}


.welcome_message  p { 
   
   font-size: 30px;
   font-weight: 800;
  color: white;
}

.header {
  grid-column: 1/3;
  grid-row: 1/2;
  color: whitesmoke;
  /* height: 400px;  */
}

/* Add Responsiveness */
@media only screen and (max-width: 768px) {
    .carousel-root {
        display: none;
    } 

}

